h6{
    font-size: 13px;
}
.total{
    font-weight: bold;
}
button{
    border: none;
    background-color: transparent;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}